{% extends "base.twig" %}

{% block content %}
	<div class="container">
		<div class="row align-items-center justify-content-center">
			<div class="col-md-7">
				<div class="text-center">
					{{post.content}}
				</div>
			</div>
		</div>

		<div class="row align-items-center justify-content-center">
			<div class="col-md-6">
				<ul class="social__menu d-flex align-items-center justify-content-center flex-row">
					{% for item in menu_social.get_items %}
						<li>
							<a href="{{item.url}}" target="_blank">
								<img src="{{theme.path}}/assets/images/{{item.__title|lower}}.svg" alt="{{item.__title}} Icon">
							</a>
						</li>

					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
{% endblock %}
